{% extends 'base.html.twig' %}

{% block title %}Espace Employé{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_security_employee_security') }}">
            <img height="55" width="170" src="{{ asset('images/ecoride-logo.svg') }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img height="35" width="45" src="{{ asset('images/burger-menu.svg') }}">
        </button>
        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
            <ul class="items navbar-nav d-flex ms-auto">
                <li class="nav-item mx-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_security_employee_security' ? 'active' : '' }}" href="{{ path('app_security_employee_security') }}">connexion</a>
                </li>
                <li class="nav-item mx-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_employee_dashboard' ? 'active' : '' }}" href="{{ path('app_employee_dashboard') }}">gestion des avis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Bienvenue sur l'espace employé</h1>
{% endblock %}
