{% set route_name = app.request.attributes.get('_route') %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand" href="{{ path('app_a_staff_employee_home') }}">
            <img height="55" width="170" src="{{ asset('images/ecoride-logo.svg') }}">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#employeeNavbar">
            <img height="35" width="45" src="{{ asset('images/burger-menu.svg') }}">
        </button>

        <div class="collapse navbar-collapse" id="employeeNavbar">
            <ul class="navbar-nav ms-auto">

                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-links" href="{{ path('dev_employee_login') }}">
                            connexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-links {{ route_name starts with 'astaff_employee_dashboard' ? 'active' }}"
                           href="{{ path('astaff_employee_dashboard_index') }}">
                            dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-links" href="{{ path('app_clients_logout') }}">
                            déconnexion
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
