{% extends 'base.html.twig' %}

{% block title %}Les covoiturages
{% endblock %}

{% block body %}

	<h1 class="text-center h1-history text-white fw-bold display-6 text-uppercase">
		les covoiturages prévus
	</h1>

	{# ===================================================== #}
	{# ===============  ICÔNE FILTRES  ===================== #}
	{# ===================================================== #}
		<div class="total-carpool"> <div class="frame-filters-side m-auto">
			<div class="container-filters-icon d-flex">
				<div class="fliters-menu-container">
					<img src="{{ asset('images/filters-menu.svg') }}">
				</div>
				<div class="fliters-arrow-container">
					<img src="{{ asset('images/arrow-filters.svg') }}">
				</div>
			</div>
		</div>
	</div>

	{# ===================================================== #}
	{# ===============   LISTE DES TRAJETS  ================= #}
	{# ===================================================== #}

		<div class="general-carpool-wrapper m-auto mb-4"> <div class="frame-carrpool mb-4 pt-2">
			<div class="carpool-list d-flex flex-column align-items-center">

				{% for ride in rides %}
					<div class="ticket-carpool">
						<div
							class="carpool-ticket-content d-flex">

							{# --- PHOTO + PSEUDO --- #}
							<div class="photo-content text-center">
								<div class="photo-ticket-carpool"></div>

								<div class="pseudo-note-driver">
									<p class="p-pseudo text-white">{{ ride.driverName }}</p>
									<p class="p-note text-white">{{ ride.driverNote }}
										⭐</p>
								</div>
							</div>

							{# --- INFOS DU TRAJET --- #}
							<div class="infos-ticket-carpool ms-2">

								<div class="line-1">
									<p class="p-trajet text-center mb-2">{{ ride.from }}
										→
										{{ ride.to }}</p>
								</div>

								<div class="line-2 d-flex justify-content-center">
									<p class="p-date text-center mb-0">{{ ride.date }}</p>
									<p class="p-h-start text-center mb-0">{{ ride.startTime }}</p>
									<p class="p-h-end text-center mb-0">{{ ride.endTime }}</p>
								</div>

								<div class="line-3">
									<p class="p-seat-dispo text-center mb-1">{{ ride.seats }}
										places disponibles</p>
								</div>

								<div class="line-4">
									<p class="p-ride-eco text-center mb-0 {{ ride.eco ? 'eco' : 'standard' }}">
										{{ ride.eco ? 'Trajet éco' : 'Trajet standard' }}
									</p>
								</div>
								<div class="d-flex justify-content-center">
									<button class="button-details text-white text-uppercase mb-1 mt-0">Détails</button>
								</div>
							</div>

							{# --- SÉPARATEUR --- #}
							<div class="separateur-carpool-ticket"></div>

							{# --- PRIX --- #}
							<div class="price-carpool">
                                <p class="price-label d-block text-center mb-4">prix</p>
                                <p class="price-number d-block text-center mb-0">{{ ride.credits }}</p>
                                <p class="price-credits d-block text-center mb-0">crédits</p>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
	{{ importmap('js/carpools') }}
{% endblock %}
