{% extends 'base.html.twig' %}

{% block title %}Espace Employé{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_security_employee_security') }}">
            <img height="55" width="170" src="{{ asset('images/ecoride-logo.svg') }}" alt="Ecoride">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <img height="35" width="45" src="{{ asset('images/burger-menu.svg') }}" alt="Menu">
        </button>

        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">

                {# ===================== EMPLOYÉ CONNECTÉ ===================== #}
                {% if is_granted('ROLE_EMPLOYEE') %}

                    <li class="nav-item mx-2 my-2 my-lg-0">
                        <a class="nav-links
                           {% if app.request.attributes.get('_route') starts with 'app_employee_dashboard' %}active{% endif %}"
                           href="{{ path('app_employee_dashboard') }}">
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item mx-2 my-2 my-lg-0">
                        <a class="nav-links" href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </li>

                {# ===================== EMPLOYÉ NON CONNECTÉ ===================== #}
                {% else %}

                    <li class="nav-item mx-2 my-2 my-lg-0">
                        <a class="nav-links
                           {% if app.request.attributes.get('_route') starts with 'app_security_employee_security' %}active{% endif %}"
                           href="{{ path('app_security_employee_security') }}">
                            Connexion
                        </a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 120px;">
    <h1>Bienvenue sur l’espace employé</h1>

    {% if is_granted('ROLE_EMPLOYEE') %}
        <p>Accédez à vos outils via le tableau de bord.</p>
    {% else %}
        <p>Veuillez vous connecter pour accéder à l’espace employé.</p>
    {% endif %}
</div>
{% endblock %}
