<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href={{ path('app_home') }}>
            <img height="55" width="170" src="{{ asset("images/ecoride-logo.svg") }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        {# <span class="navbar-toggler-icon"></span> #}
            <img height="35" width="45" src="{{ asset("images/burger-menu.svg") }}">
        </button>
        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
            <ul class="items navbar-nav d-flex ms-auto">
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_home' ? 'active' : '' }}" href={{ path('app_home') }}>accueil</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_carpools' ? 'active' : '' }}" href={{ path('app_carpools') }}>covoiturages</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_personal_space' ? 'active' : '' }}" href={{ path('app_personal_space') }}>espace perso</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_contact' ? 'active' : '' }}" href={{ path('app_contact') }}>contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_history' ? 'active' : '' }}" href={{ path('app_history') }}>historique</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_about' ? 'active' : '' }}" href={{ path('app_about') }}>à propos</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 my-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_login' ? 'active' : '' }}" href={{ path('app_login') }}>connection</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1 mx-xl-2 px-2 my-2 mb-4 my-lg-0 mb-lg-0">
                    <a class="nav-links {{ route_name starts with 'app_register' ? 'active' : '' }}" href={{ path('app_register') }}>inscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
